geohash2==1.1
unidecode==1.1.1
shapely==1.7.1
geopandas==0.8.1
pydantic==1.6.1
tqdm==4.42.1
pyarrow==2.0.0
pandas==1.0.1
numpy==1.18.1
pandas-profiling==2.9.0
xgboost==1.2.1
scikit-learn==0.22.1
streamlit==0.69.2